// Font
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&subset=latin-ext&display=swap');

main {
  padding: 20px;
}

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: #f8f9fa;
  min-height: 100vh;
  height: 100%;
  position: relative;
  color: $granit;
}

.title {
  color: $cyan;
}

header {
  text-align: center;
  padding-top: 30px;
}

a {
  display: inline-block;
  margin: 0 10px;
  text-decoration: underline;
  color: #000;
}