/*==========  Custom colors  ==========*/

$cyan: #0fba81;

$granit: #263b56;

/*==========  Breakpoints  ==========*/

$sm-screen: 576px;

$md-screen: 768px;

$lg-screen: 992px; 

$xl-screen: 1200px; 